@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  /* colors */
  --midnight-purple: #222647;
  --connect-blue: #4a52ff;
  --connect-tint: #c9cbff;
  --warm-gray: #c7c5c3;
  --alarm-yellow: #fffb94;
  --approve-green: #96e697;
  --pure-white: #ffffff;
  --tech-black: #191919;
  /* typography */
  --kisi-digital: 'Inter', sans-serif;
}
